*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;

}
html,body{
    height:100%;
    width:100%;
}
body{
    background-color:#f8f7f4 ;
}
#page1{
    height: 100%;
    width:100%;
    /* background-color: blue; */
}
#nav{display: flex;
    justify-content: space-between;
   align-items: center;
    
    height:100px;
    width:100%;
    /* background-color: rgb(255, 255, 255); */
    padding:0 40px;
}
#part1{width: 27%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    /* background-color: rgb(255, 255, 255); */
}
   

#nav h4{align-items: center;
   font-size: 14px;
   font-weight: 400;
   justify-content: space-between;
   display: flex;
   
}
 #part2{
/* background-color: rgb(255, 255, 255) */ 
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    width:30%;
}
#nav img{
    height: 60px;
    font-size: medium;
    
}
#part2 button1{font-size: 17px;
    font-weight: 900;
    border: none;
    border-radius: 50px;
    padding:12px 17px;
    background-color: transparent;
    margin: 0 10px;
   
}
#part2 button2{font-size: 17px;
    font-weight: 900;
    border: none;
    border-radius: 50px;
    padding:10px 17px;
   /* color: rgb(255, 255, 255); */
   background-color: black;
   color: #f8f7f4;
   margin: 0 10px;
}








#content{
    height:calc(100% - 100px);
    /* background-color: rgb(255, 255, 255); */
    padding-top: 70px;
}
#content h3{ width:fit-content;
    background-color: rgb(213, 218, 180);
    border-radius: 20px;
   font-size: 17px;
   font-weight: 400;
    padding: 8px 15px;
   left:50%;
    position: relative;
    transform: translate(-50%);
}
#content h1{
    text-align: center;
    font-weight: 300;
   font-size: 45px;
   /* text-transform: capitalize; */
   padding-top: 30px;
   line-height: 40px;
}

#content h4{
    text-align: center;
    font-weight: 300;
    padding-top: 22px;
    font-size: 16px;
    padding-bottom: 25px;
}

#content button{
 left:50%;
 transform: translate(-50%);
 position: relative;
 text-align: center;
  color:white; 
 background-color: black;
 padding: 10px 10px;
 border-radius: 21px;
}

#bottom{ margin-top: 30px;
    height:300px;
    width:100%;
    /* background-color: rgb(255, 255, 255); */
    padding: 5px;
    /* display: flex; */
    /* flex-wrap: nowrap;
    /* gap: 20px; */
    align-content: center;
    display:center ;
    overflow-x: auto;
    overflow-y: hidden; 
    white-space: nowrap;
}
#bottom::-webkit-scrollbar{
    display:none;
}
.elem{display: inline-block;
    
    
    /* flex-shrink: 0; */
height:100%;
width:310px;
position: relative;
margin-right: 5px;
border-radius: 40px;
background-color: black;
border:2px solid white ;
overflow: hidden;
}

.elem img{ position: absolute;
    height: 100%;
    width:100%;
object-fit: cover;
object-position: center;

}
.elem .textbottom{position: relative;
    height:20%;
    width:100%;
    background-color: transparent;
    color: rgb(244, 241, 241);
    position: absolute;
    bottom: 0;
    padding: 7px 14px;
}


#page2{
    width: 100%;
    height: 100%;
    background-color:#f8f7f4;
    position: relative;
    padding: 80px;
}
#page2 h1{ font-size: 30px;
    font-weight: 200;
    background-color: rgb(213, 218, 180) ;
    width: fit-content;
    text-align: center;
    padding:9px 15px;
    left:50%;
    transform: translate(-50%);
    position: relative;
    border-radius: 30px;
    margin-bottom: 60px;
}
.box{
  height:300px;
  width:  300px;
  background-color: black;
  border-radius:20px ;
  margin-top: 50px;
  overflow: hidden;
  display: inline-block;
  justify-content: space-between;
  align-items: center
  ;margin: 18.3px;
  position: relative;
   

}
.box img{width: 100%;
    height: 100%;
    object-fit: cover;
   
    overflow: hidden;
    
}
.boxbottom{
    height:40%;
    width: 100%;
     position: absolute; 
    background: linear-gradient(transparent,rgba(0, 0, 0, 0.723));
     bottom: -40%; 
     transition: all ease .4s;
     display: flex;
     font-size: 25px;
     color: white;
     justify-content: space-between;
     align-items: center;
     padding: 4px 9px;
   

}
.boxbottom i{
    background-color: white;
    color:black;
    padding: 7px 8px;
    border-radius: 50%;
    font-size: 20px;
    
}
.box:hover .boxbottom{
    bottom:0;
}

.box:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.375) ;
}

#page2 button2{
    background-color: transparent;
    height: 30px;
    width:50px;
    margin-bottom: 50px;
margin-top: 60px;
width:fit-content;
color:rgb(0, 0, 0);
padding:20px 14px;
left:50%;
font-weight: 300;
border-radius: 40px;
border: solid black 1px;
transform: translate(-50%);
display: flex;
justify-content: space-between;
align-items: center;
position: relative;
}


 #page3{ 
   
    height: 100%;
    width:100%;
} 
#div1{
    /* background-color: aquamarine; */
    height: 400px;
    /* background-color: rgb(183, 168, 168); */
    width: 100%;
    margin-bottom: 70px;
}
#div1 h2{
   padding:70px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 42px;
    font-weight: 300;
    /* margin-bottom: 40px; */
    line-height:40px ;

}
#div1 p{
    text-align: center;
    line-height: 27px;
}


#buttons{  
     background-color: rgb(183, 168, 168);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 50px;
    
}
 
    

 #div1 button4{right :49%;
    transform: translate(-49%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    font-weight: 200;
    color: #f8f7f4;
    background-color: black;
    border-radius: 30px;
    padding:10px 10px;
    width: fit-content;
}
 #div1 button5{
  display: flex;
  border-radius: 30px;
padding:10px 10px;
  background-color:#d7d5d0;
    color: #000000;
    height:10pxpx;
    width:fit-content;
    left:55%;
    transform: translate(-55%);
   font-weight: 200;
    
     position: absolute; 
}



#div2 h3{
    /* background-color: rgb(183, 168, 168); */ 
text-align: center;
padding-top: 32px;
font-weight: 200;
margin-bottom: 100px;
padding-bottom: 100px;

}
